<%- include("partials/header")-%>

<section>
    <div class="aboutDiv">
        <h2></h2>
        <h1>ABOUT US</h1>
        </div>

        <div class="aboutContent">
            <img class="aboutImg"  src="/images/passport.jpg">

                <h1>We make the best for all our customers.</h1>
                <p>Have A Travel Plan ? Why not plan with LowFlightsTickets.com, the most explored travel companies of United Stated which have built a trust in travel Industry. A well known , trustworthy travel domain which provides you the best class services and fair deal for your travel plans. Taking a vision and mission to cater a comfortable journey and an exciting tour to our customers we are zeal to satisfy our customers’ needs as much as possible. Your Ticket is just a click away from you with a dedicated customer service team for all your queries and questions and dedicated to not let you get worry at any time. We are completely dedicated to our customers 365 days & 24*7. At LowFlightsTickets.com, you will experience a simple yet powerful travel management platform with multiple deals and benefits associated with your ticket such as modification at minimum charges, free On-board meals and exciting rate guarantee for multiple range of Airlines. Instant access to the booking panel with available gadgets with operating system Android / IOS / windows and explore your booking for desired travel destination. You will see a real time dynamic price and easy downloadable details just a right click away. We assure you for an exciting and hassle free service at LowFlightsTickets.com. Come to us, we will let you experience a memorable travel experience with us.</p>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                       <ul >
                           <li>Easy Accessible on Both Desktop & App</li>
                           <li>Exclusive Flights alliance Rate</li>
                           <li>24*7 After sale Service</li>
                           <li> Single Dashboard for all your queries</li>
                           <li>Wide Selection of Airlines for all your purposes</li>
                           <li>On Trip Assistant for Booking & Modifications</li>
                           <li>Instant Refund & Many More..</li>
                       </ul>
                    </div>
                </div>
        </div>
   
</section>
<br>

<section>
    <div class="row " style="width: 95%; margin: auto;">

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="aboutCard">
                <i class="fas fa-suitcase-rolling " style="font-size: 50px;"></i><br><br>
                <h3>Best Travel Agent</h3>
                <p>Travel the world with a smile.Fly with assurance.</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="aboutCard">
                <i class="fas fa-hand-holding-usd" style="font-size: 50px;"></i><br><br>
                <h3>Best Price Garuntee</h3>
                <p>Save more and explore more with the affordable price range.</p>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="aboutCard">
                <i class="fas fa-handshake" style="font-size: 50px;"></i><br><br>
                <h3>Trust and Safety</h3>
                <p>Building trust and customers safety is our actual Income.</p>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer")-%>
