<section>
    <div class="invite">
         <div class="inviteText">
         With<i> BookWithUs</i>, use your time living your vacation instead of booking it.
         </div>
         
         <div class="circleLine">    
         </div>
         
         <img id="vacation" src="https://images.unsplash.com/photo-1586228041075-5e5529cf4427?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80">
    </div>
</section>

<div class="myplane">
    <strong id="plane4">✈</strong>
    <strong id="plane">✈</strong>
    <hr>
</div>

<section class="travelStyle" id="travelling">
    <h5>Travel in Style</h5>
    <h1 class="Sec2Head">Find Travel inspiration by style</h1>
    <hr class="longLine">

  <div class="styles style1">
    <div class="insideBox">     
         <h1>Family Trip </h1>
    </div>
    <h3>Explore</h3>
  </div> 

  <div class="styles style2">
    <div class="style2box">     
         <h1>Solo</h1>
    </div>
     <div class="insideBox">     
            <h1>.</h1>
     </div>
    <h3>Explore</h3>
  </div> 

  <div class="styles style3">
    <div class="insideBox">     
         <h1>Honeymoon</h1>
    </div>
    <h3>Explore</h3>
  </div> 
</section>

<div class="myplane">
    <strong id="plane4">✈</strong>
    <strong id="plane">✈</strong>
    <!-- <strong id="plane1">✈</strong>  -->
    <hr>
</div>


 
<section class="contact">
    <div class="contactLeft">
         <h1>Any questions? Get in touch with <b>our team.</b></h1>  
    <button type="button" class=" btn btn-large btn-outline-dark"  ><a  href="tel:8191944621">Contact Us</a> </button>
    </div>
    
    <div class="contactRight">
    </div>
</section>
<hr class="dottedLine">