<%- include ("deals")%>
<section class="contact">
     <div class="contactLeft">
          <h1>Any questions? Get in touch with <b>our team.</b></h1>  
     <button type="button" class=" btn btn-large btn-dark"   ><a  style=" color: white;
          text-decoration: none;" href="tel:866-225-4144">Contact Us</a> </button>
     </div>

     <div class="contactRight">
     </div>
     
 </section>








 


