<section class="hotDeals deals1">

<h1>Trending Flight<span style="color: gold;"> Hot Deals</span></h1><br>
<i class="fas fa-bookmark bookmarks"></i>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="row deals ">

        <div class="col-lg-3 col-md-6 col-sm-6"><div class="card tilecard" style="width: 17rem;">
          <img class="tileImg" src="/images/vegas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Las Vegas<span>Save 25%</span></p>
          </div>
        </div></div>
      
        <div class="col-lg-3 col-md-6 col-sm-6"><div class="card tilecard" style="width: 17rem;">
          <img class="tileImg" src="/images/Dallas.jpg">
          <div class="card-body">
            <p class="card-text">Dallas <span>Save 40%</span></p>
          </div>
        </div></div>
  
        <div class="col-lg-3 col-md-6 col-sm-6"><div class="card tilecard" style="width: 17rem;">
          <img class="tileImg" src="/images/newYork.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">New York City <span>Save 35%</span></p>
          </div>
        </div></div>
  
        <div class="col-lg-3 col-md-6 col-sm-6"><div class="card tilecard" style="width: 17rem;">
          <img class="tileImg" src="/images/Chicago.jpg" >
          <div class="card-body">
            <p class="card-text">Chicago <span>Save 50%</span></p>
          </div>
        </div></div>
      </div>
  
      </div>
  
      <div class="carousel-item">

        <div class="row deals ">
          <div class="col-lg-3 col-md-6 col-sm-6"><div class="card tilecard" style="width: 17rem;">
            <img class="tileImg" src="/images/wash.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Wahington DC <span>Save 20%</span></p>
            </div>
          </div></div>
        
          <div class="col-lg-3 col-md-6 col-sm-6"><div class="card tilecard" style="width: 17rem;">
            <img class="tileImg" src="/images/orlando.jpg">
            <div class="card-body">
              <p class="card-text">Orlando <span>Save 43%</span></p>
            </div>
          </div></div>
    
          <div class="col-lg-3 col-md-6 col-sm-6"><div class="card tilecard" style="width: 17rem;">
            <img class="tileImg" src="/images/miami.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Miami <span>Save 50%</span></p>
            </div>
          </div></div>
    
          <div class="col-lg-3 col-md-6 col-sm-6"><div class="card tilecard" style="width: 17rem;">
            <img class="tileImg" src="/images/sanfrans.jpg">
            <div class="card-body">
              <p class="card-text">San Francisco <span>Save 34%</span></p>
            </div>
          </div></div>
        </div>        
      </div> 
      
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
</section>

<hr class="dottedLine">

<section class="deals1" style="background-color: white;">
    <h1 style="color: #1E3163;">
      <span style="color: red;">Pocket Friendly </span> Destinatios For Travel</h1>

<div class=" row deals">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card tilecard" style="width: 17rem;">
            <img class="tileImg" src="/images/machu.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Machu Picchu, Peru<span>From $1200</span></p>
            </div>
          </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card tilecard" style="width: 17rem;">
            <img class="tileImg" src="/images/disney.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">DisneyLand Los Angeles <span>From $1200</span></p>
            </div>
          </div>
    </div>


  <div class="col-lg-3 col-md-6 col-sm-6"><div class="card tilecard" style="width: 17rem;">
    <img class="tileImg" src="/images/state.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Statue Of Liberty New York <span>From $1200</span></p>
    </div>
  </div></div>

  <div class="col-lg-3 col-md-6 col-sm-6"><div class="card tilecard" style="width: 16rem;">
    <img class="tileImg" src="/images/colosse.jpg">
    <div class="card-body">
      <p class="card-text">Colosseum, Rome. <span>From $1200</span></p>
    </div>
  </div></div>

</div>
 
</section>

<hr class="dottedLine">


