<%- include("partials/header")-%>
<section>
    <div class="aboutDiv" style="background-image: url(/images/faq.jpg);">
        <h2></h2>
        <h1>FAQ</h1>
        
        </div>
        <div class="termsContent" style="background-color: lightcoral;">
    
            <div class="myBoxshadow">
                <h2>AThank you for your belief in LowFlightsTickets.com</h2>
                <p>In the fast pacing world considering your busy schedule we are coming up with the required information which are mainly designed for our customers to prepare before travelling and experience a memorable trip.<br>

                    You can explore the latest COVID -19 travel guideline regulations, quarantine policies and border statuses for destinations around the world.</p>
            </div>
            <div class="myBoxshadow">
                <h4>Why VISA & PASSPORT is important for travelling?</h4>
                <p>For any International travel, a passenger must carry the passport with him/her all the time. The VISA requirements are available based on the nationality of the passenger in several countries. If you want to have more information you can visit to the embassy of the respective destination to gather information related to the documents requirement for travelling.</p>
            </div>

            <div class="myBoxshadow">
               <h4>Baggage allowance Information</h4>
                <p>All the Baggage allowance details will be provided with the travel documents communicated from LowFlightsTickets.com to the customer in advance. You can get more information from our travel experts by asking them for your respective flight ticket.</p>
            </div>
            <div class="myBoxshadow">
               <h4>Can Baggage be increased than prescribed over ticket?</h4>
                <p>Yes, It can be increase by sending request to our travel experts for additional baggage allowance to their specific flight ticket booked through LowFlightsTickets.com. It is subject to additional charges and the baggage policies of different airlines companies. There are many airlines companies which doesn’t facilitate the service of additional baggage allowance to the travellers, It is advisable to check before making any modifications.</p>
            </div>
            <div class="myBoxshadow">
               <h4>What are the imposed restrictions in bringing back duty-free items purchased at the destination?</h4>
                <p>Based on the type of goods and services the guidelines in circulated on United States Custom Department related to duty-free items. Please refer it for more knowledge and right information before you plan to bring back any duty-free item.</p>
            </div>
            <div class="myBoxshadow">
               <h4>Points to be Taken Care for a schedule change imposed by Airlines which affects the Passenger Itinerary.</h4>
                <p>Above mentioned situations are contingent and are beyond our control. It is advisable to get in touch with the customer service experts at the earliest possible on the mentioned contact details to know how to proceed further.</p>
            </div>
            <div class="myBoxshadow">
               <h4>Why it is important to confirm the flight schedule prior to the departure?</h4>
                <p>As per the notice and guidelines from the airlines companies the flight schedule is subject to modify or reschedule. It is advisable to please check the schedule 24 hrs. prior to your departure. Specially during Bad Weather or any unusual weather condition.</p>
            </div>
            <div class="myBoxshadow">
               <h4>When I can Collect the travel documents from LowFlightsTickets.com ?</h4>
                <p>The Booked Tickets and other details will be email to the customer registered E-mail ID right after the payment receivable and acknowledgement by LowFlightsTickets.com.</p>
            </div>
            <div class="myBoxshadow">
               <h4>When should a traveller reach to the Airport ?</h4>
                <p>Travellers are advised to reach 2 hours prior to the department in the case of domestic travelling and at least 3 hours before to the departure in the case of International travelling to avail hassle-free Immigration formalities.</p>
            </div>
            <div class="myBoxshadow">
               <h4>What is the meaning of Code Sharing Flight?</h4>
                <p>Code sharing term is specifically used in airlines industry which is a mutual understanding or partnership between two airlines on an specific route. This is basically used for a service partnership where one airlines provide air travel services and another advertise and get the passengers on-board.</p>
            </div>
            <div class="myBoxshadow">
               <h4>Does LowFlightsTickets.com provides first class flight ticket?</h4>
                <p>Based on the customer’s requirement and requests the first class flight tickets can be arranged by us wherein these kind of request can be made for the Business class & Premium class segments. These seats are actually limited hence it depends on the availability of the seats only. Such requests are entertained only in case an advance information is made from customer’s end.</p>
            </div>
    
            
        </div>
</section>

<%- include("partials/footer")-%>