<div class="theForm">
     <strong id="plane3">✈</strong>

<form action="/getFlight" method="GET" id="form">
     
     <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault2" name="radio" id="radio1" default="selected" value="true" checked onchange="disableThis()">
     <label class="form-check-label" for="radio">
     One way
     </label>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault2" name="radio" id="radio1" value="false" default="selected" onchange="enableThis()">
     <label class="form-check-label" for="radio">
     Round Trip
     </label>  

     <div class="row row1">

          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12  box1 fifty" >
               <h6>From</h6>
               <input type="text" class="form-control" placeholder="City or Airport Code" name="from" id="from" list="airports" autocomplete="off" required value=""  />
          <datalist id="airports">
               <%- include("iata")-%>
          </datalist>
          </div>

          <div class="col-lg-3  col-md-6 col-sm-12 col-xs-12  box1 fifty">
               <h6>To</h6>
               <input type="text" class="form-control" placeholder="City or Airport Code" name="to" id="to" list="airports" autocomplete="off" autocapitalize="on" value="" required/>
               <datalist id="airports">
               <%- include("iata")-%>
          </datalist>
          </div>

          <div class="col-lg-3  col-md-6 col-sm-6 box1">
               <h6>Outbound</h6>
               <input placeholder="Departure" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="outdate" name="outDate" value="" required />
          </div>

          <div class="col-lg-3  col-md-6 col-sm-6 box1">
          <h6>Inbound</h6>
          <input placeholder="Return" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="indate" name="inDate" value=""  disabled />
     </div>

     <script>
          function enableThis(){
               document.getElementById("indate").disabled=false;
          };
          function disableThis(){
               document.getElementById("indate").disabled=true;
          }
     </script>
     
          <div class="row" style="margin-top: 2%;">
          <div class="col-lg-4  col-md-6 col-sm-12 box1">
          <h6>Currency</h6>
          <select class="form-select" placeholder="USD" name="currency" id="currency"  required>
               <option value="USD">USD</option>
               <option value="EUR">EUR</option>
               <option value="INR">INR</option>
               </select>
     </div>

          <div class="col-lg-4  col-md-6 col-sm-12 box1 fifty" >
               <h6> Passengers</h6>
               <input type="number" class="form-control"  min="1" name="noOfPass" value="1"  required>
          </div>

          <div class="col-lg-2  col-md-6  col-sm-6 box1 fifty">
               <h6>Adults</h6>
               <input type="number"   class="form-control"  min="1" name="adults" value="1" required>
          </div>

          <div class="col-lg-2  col-md-6 col-sm-6 box1 fifty" value="0">
               <h6>Children</h6>
               <input type="number" class="form-control"  min="0" name="children" value="0" >
          </div>

          <div class="col-lg-6  col-md-6 col-sm-12 box1 fifty">
               <h6>Cabin Class</h6>
               <select class="form-select " placeholder="Economy" name="cclass" value="Economy" required>
               <option value="0">Economy</option>
               <option value="1">Business</option>
               <option value="2">First</option>
               </select>
          </div>

          <div class="col-lg-6  col-md-6  " style="margin-top: 1.5%;">
               <button type="submit" class="btn submitBtn btn-outline-dark">Search</button>
          </div>   
     </div>

     </div>
</div>
</form>

</section>
<hr class="dottedLine">


    <!-- <img src="/images/Capture real png.png"  class="sec1Img"  alt=""> -->
