<section class="section1">
<div class="quote">
    <h1 class="quote1">A journey of thousand miles,</h1><br>
    <h1 class="quote1_1">begins with a single step.</h1>
</div>
<script>
   function closeDd(){
    //    alert("HI");
    document.getElementById("dd").style.transform="translateY(470)";
   }
</script>