<%- include("partials/header")-%>
<body>
  <section class="section1" style="height: 100px; background-image: url(); background-color: #1abc9c ; margin: 0; ">
  <nav>
      <h1 style="color: white;">Book with Us ✈ </h1>
      <!-- <strong id="plane">✈</strong> -->
      <ul >
        <li><a href="/#form" style="color: white;"> Flights</a> </li>
        <li><a href="/destinations" style="color: white;"> Destinations</a> </li>
        <li><a href="/#travelling" style="color: white;">Travel Style </a> </li>
        <li><a href="/about" style="color: white;">About us </a> </li>
      </ul>
      <button type="button" class="contactBtn btn btn-outline-light" style="position: absolute; top: 40%; " ><a  style="color: black;  " href="tel: 114-621-3010">Call Us</a></button>
  </nav>

  <!-- making the toggle bar -->
  <input type="checkbox" id="opensidebarmenu" >
  <label for="opensidebarmenu" class="sidebarmenutoggle">
  <div class="spinner tops"></div>
  <div class="spinner mids"></div>
  <div class="spinner bots"></div>
  </label>  

  <div class="sidetoggleopenmenu dropdown">
  <ul class="menu">
    <li><a href="/#form"> Flights</a> </li>
    <li><a href="/destinations"> Destinations</a> </li>
    <li><a href="/#travelling">Travel Style </a> </li>
    <li><a href="/about">About us </a> </li>
  </ul>
  </div> 

  <div class="page3content">
      <h1><%=aboutheading%></h1>
      <div>
      <img class="page3img" src="<%=aboutimage%>">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem placeat numquam, officiis beatae reprehenderit molestias libero enim dolorem molestiae iusto non sequi voluptates facere nobis ratione eveniet, ipsam quibusdam amet excepturi aliquam quos? Dignissimos beatae necessitatibus eaque sint obcaecati modi neque officia, eligendi, ducimus repellat ad tempora nam, optio ipsa corporis nesciunt eos similique provident asperiores voluptas iste. Voluptatem at quia quod ex ducimus nemo nobis excepturi modi eos. Cupiditate facere aut alias similique dolores id nemo totam modi maiores, facilis nesciunt enim? Dignissimos tempore illo ad esse placeat deleniti dolorem doloribus at labore quia. Nostrum, a modi quis totam, qui distinctio quo harum nisi sint fugit ipsam. Voluptates sed repellendus odio ea eius aspernatur dolorem cupiditate aperiam assumenda facilis magni, non voluptatem eveniet recusandae reiciendis itaque exercitationem deleniti asperiores error! Quibusdam, dignissimos quaerat illo natus voluptate blanditiis laudantium labore optio officiis voluptatem eius nemo dolorem aperiam aut odit suscipit ratione doloremque atque numquam nostrum et iure ipsam sed. Eligendi enim minus nam aliquid dolorum id consequatur expedita quaerat quam reprehenderit? Voluptatibus, nobis rerum voluptatem repudiandae ullam nihil culpa error, praesentium suscipit iure amet reprehenderit inventore incidunt ducimus? Delectus quam non numquam! Fugiat adipisci ducimus illum recusandae cupiditate dignissimos quos, quas veniam iusto quibusdam neque tempora sunt rem exercitationem quae nesciunt sapiente esse ratione, vel est nobis non assumenda suscipit eaque. Culpa quo dicta illo adipisci illum perspiciatis laborum omnis, debitis nemo exercitationem cupiditate consequatur veniam, sunt voluptas excepturi ipsam eos. Amet accusamus earum dolorum quis ex cupiditate quae, officia harum. Maxime magni quis error explicabo suscipit sed dolorum perspiciatis aperiam accusantium nemo placeat cupiditate, inventore praesentium voluptas omnis nam expedita, quaerat veritatis recusandae nesciunt? Minima soluta excepturi doloremque cum quae modi aperiam itaque accusantium vero nobis quas, asperiores eaque nesciunt earum quam sed eum at eveniet officia explicabo debitis animi autem laboriosam? Delectus suscipit repellat soluta accusantium, facere praesentium maxime modi eaque fuga esse ea est, iusto corrupti libero vero fugit distinctio, ducimus fugiat ipsam eius deserunt aperiam? Illum maxime neque aspernatur maiores, tempore voluptas accusantium quasi nobis qui saepe odit temporibus debitis sequi similique aperiam tenetur rerum quas id nam, fugiat, minima enim at. Nam iusto possimus quae ipsa velit aspernatur cupiditate libero? Officiis quos modi accusamus repellendus esse non consequuntur omnis molestias eveniet quisquam culpa impedit iusto fuga maxime ducimus mollitia quasi temporibus accusantium dicta similique, porro aut? Maxime aut repellendus nam consequuntur fugit accusamus natus vitae sed amet voluptas distinctio sapiente, unde adipisci ipsam quo eligendi dolores eum. Enim quaerat necessitatibus dicta architecto consectetur, iste, eius quidem, nihil a reiciendis assumenda quos esse perspiciatis quas adipisci optio? Ad reiciendis molestiae, ducimus facere tempora quos eius corrupti consequatur odit non veniam, laborum nostrum atque tenetur. Accusantium, minima?</p>
      </div>
    
    </div>
  
  </body>
  
    <%- include("partials/footer")-%>