<%- include("partials/header")-%>
<section>
    <div class="aboutDiv" style="background-image: url(/images/payment.jpg);">
        <h2></h2>
        <h1>Payment and Cancellation</h1>
        
        </div>
        <div class="termsContent">
            
            <div class="myBoxshadow">
                <h2>Online Payments Through Card :</h2>
                <p>During opening of an account with any bank then you can pay for your order by using the net banking facilities of the respective bank from where you are doing the transaction. LowFlightsTickets.com. generates the payment links in coordination with the Bank through a secured online gateways system which enables the customer to have private, secure, safe transactions from their respective net banking account.<br>

                    Book with us & enjoy the benefits with LowFlightsTickets.com.</p>
                    <ul>
                        <li>One call Assistance during trip</li>
                        <li>Direct Payment from Wallet, Cards</li>
                        <li> Instant Refund on cancelled bookings</li>
                        <li>Safe payment Options</li>
                        <li> Real time track of Booking Data</li>
                    </ul>
            </div>
            <div class="myBoxshadow">
                <h2>Payment Policy :</h2>
                <ul>
                    <li>For making a reservation 25% of the total vacation package shall be paid in advance as a token amount.</li>
                    <li>Post booking 30 % of the total vacation package need to be paid within a seven working days.</li>
                    <li> Rest 45% of the total package cost need to be paid at least 30 days prior to the departure.</li>
                    <li> The total cost of vacation package need to pay in advance, in case of travel is within 15 days of vacation package reservation. Aforesaid policies are subject to modify without any prior information and you will get the final policies from serving agent on your email.</li>
                    <li>Full amount need to pay for flights fare and transportation at the time of making reservation to your package.</li>

                    <li></li>

                </ul>
            </div>
            <div class="myBoxshadow">
                <h2>Cancellation and Refund Policy</h2>
                <p><ul>
                    <li>Whenever booking package is cancelled 30 days or more prior to the departure 30 % of the total cost will be deducted.</li>
                     <li>Whenever booking package is cancelled between 29-15 days prior to the departure 50 % of the total cost will be deducted.</li>
                     <li>Whenever booking package is cancelled between 14-08 days prior to the departure 75 % of the total cost will be deducted.</li>
                    <li>Whenever booking package is cancelled between 14-08 days prior to the departure 75 % of the total cost will be deducted.</li>
                    <li>Whenever booking package is cancelled within 07 days prior to the departure 100 % amount will be deducted.</li>
                    <li>Cancelled booking of flight tickets are subject to the cancellation policies of the airlines.</li>
                    <li>At the time of cancellation, the refund amount will be processed after the deduction of retention fee and the Govt. taxes levied upon.</li>
                    <li>N.B: Refund might takes 45-60 working days.</li>
                    
                </ul></p>
            </div>
                      
    
            
        </div>
</section>

<%- include("partials/footer")-%>