<%- include("partials/header")-%>
<section>
    <div class="aboutDiv" style="background-image: url(/images/privacy.jpg);">
        <h2></h2>
        <h1>Payment and Cancellation</h1>
        
        </div>
        <div class="termsContent">
            
            <div class="myBoxshadow">
                <h2>Privacy Policy</h2>
                <p>The below mentioned policies and the rules are abiding LowFlightsTickets.com and the employees of LowFlightsTickets.com that the information shared by the customers during the business or the clients who are landing on our website. Through this policy we are establishing a transparent relationship with our customer that how their information are used<br>

                    Book with us & enjoy the benefits with LowFlightsTickets.com.</p>
            </div>
            <div class="myBoxshadow">
                <h2>General information</h2>
<p>While a customer is landing to our website or talk over phone calls to or share his/ her information. These information are stored by us. The said information includes but are not limited to the verification of the customers using their name and surname, contact details, Postal codes, Email ID , Billing Information.General information consists of the meal preferences, seat selection, frequent movers & more. The customer possesses the authority to not to disclose the information with us whereas it is necessary to share the some of the information in order to book a reservation or query with us.</p>
            </div>
            <div class="myBoxshadow">
                <h2>Traveller’s Detail :</h2>
<p>During booking an arrangement with LowFlightsTickets.com some of the personal information are asked by the vacation expert so that a better and comfortable arrangement can be made based on the preference and choice of the traveller. Whereas if booking for a third person the user intended to book a reservation for, the person should first obtain the consent from that person in advance before sharing the required information with us. Any modification or alternation can only be done from the user’s account itself.</p>
                    
            </div>
            <div class="myBoxshadow">
                <h2>Auto-Fill Information :</h2>
<p>For some of the security reason some information like device used to visit LowFlightsTickets.com may get saved in system automatically. Information comprises of IP address, the software which is used to browse the website, browsing history may get saved to provide a speedy and time saving experience when customers visit our website.</p>
            </div>
            <div class="myBoxshadow">
                <h2>What are Cookies</h2>
                <p>While visiting our website to provide a quick, personalized and Hassle-free experience and not to pull out or store any personal or controversial data from your device a small digital information gets auto restored to your device through the browser which are cookies and is designed to ensure a better experience.<br>

                   </p>
            </div>
            <div class="myBoxshadow">
                <h2>Benefits of User Information :</h2>
<p>We as a service provider uses the billing information Panel which including some details as the card holder name, Card No & Expiry date of the card so that we can accomplish your booking needs. Whereas apart from the billing information we use the information to fulfil below mentioned needs :
    <ul>
        <li>For the communication related to user’s booking confirmation.</li>
 <li>To provide the right and correct information about the services enquired by us.</li>
  <li>To arrange the communication related to confirmation of the details and real time update of the flights and bookings.</li>
  <li>For prevent any potential unauthorized activities.</li>
 <li>To let you know about the latest offers.</li>
 <li>To get the suggestions and feedback from our customers.</li>
 <li>To Improve and expand our services in terms of bookings and reservation based on the customer’s specific requirements.</li>
 <li>We are keen to resolve any troubleshoot, dispute, fee collection and other problems related to your bookings.</li>
    </ul>
</p>
            </div>
                      
            <div class="myBoxshadow">
                <h2>Anti-Phishing Policy Business Relation.</h2>
<p>While business with our clients, LowFlightsTickets.com never demands for any information banking details, Card details, demand for Hard cash etc. from any insecure email ID or any unauthorized phone calls communication. All Communication done from our side are channelized through an authorization only to revert the query by the customers and assist you with a real time update on the bookings. We never allow or encourage any identical theft or phishing and are always against such issues considering as a major concern.</p>
            </div>
            
        </div>
</section>

<%- include("partials/footer")-%>