<%- include("partials/header")-%>
<section>
    <div class="aboutDiv" style="background-image: url(/images/terms.jpg);">
        <h2></h2>
        <h1>Terms and Conditions</h1>
        
        </div>
        <div class="termsContent">
            <div class="myBoxshadow">
                <p>Being a service provider CheapOFlightFares.com enables the user to purchase a flight ticket for his / her journey. The service contract between Airlines company and the User always lies between them for the utilization of the flight.<br><br>
    
                    Subject to the change in schedule, flight’s route, change in time and cancel flights or change in itineraries airlines may reserve the right without prior information to CheapOFlightFares.com. We are not possessing the right or control over such logistics grounds of the airlines company and if in case there may be any direct or indirect loss to the traveller due to the change we are not liable for such cases.<br>
                    
                    Certain limitations and restrictions are imposed on the different tickets in a same airline. It may vary from class to class.<br>
                    
                    Based on the terms declared by the Airlines allowance of Baggage shown on the ticket, CheapOFlightFares.com have no right in any changes. Some of the fare shown in the booking schedule as “Hand Baggage” which will not allow the traveller for free check-in luggage and as a result the traveller need to pay a separate amount for check-in luggage. The price of the additional luggage is subject to variation from different airlines. It is advisable to contact to the concerned airlines for detailed cost.<br></p>
            </div>
    
            <div class="myBoxshadow">
                <h2>Airline Ticket Pricing</h2>
                <p>Airline ticket charges flashing on the website is inclusive of the Base fare, Government taxes and convenience fee applied by the airlines companies. Advisable to the traveller to thoroughly check and pay the total amount before making the confirmation of their booking(s). In case the payment is partial or the user is not paying the total amount, CheapOFlightFares.com reserves it’s right to cancel the booking or may ask the user to contact. User agrees to pay all the statutory taxes, surcharges and other amount which are applicable on the date of journey as per the travel booking.<br>
                    Fares of infant are subject to the age criteria under 24 months throughout the entire journey with supporting documents. Applied on both the To & Fro Journeys. During the travelling the infant became 24 months or above during the return journey, a separate ticket need to book by the user. Any infant or children must be companied by an adult during the journey as per the guidelines by the airlines.</p>
            </div>
            <div class="myBoxshadow">
                <h2>Travel Documents</h2>
                <p>The traveller is abides to carry his / her valid documents i.e. Govt. approved identity card, passport, Visa etc. to take the benefit of travelling. Users are solely responsible in case of any occurrence and in case of inability to travel for not carrying valid travel documents; CheapOFlightFares.com will not be liable for such things.</p>
            </div>
            <div class="myBoxshadow">
                <h2>Check-In Terms</h2>
                <p>We suggest the traveller must check the check-in timings directly with the airlines. Most of the check-in starts 2-3 hours prior to the departure based on the nature of journey whether domestic or International flights.<br>

                    One should carry his / her valid identity proofs, passport, age proof as may be asked by the validating officers, in case of checking Nationality, age including the infants to validate the same as right information on booking ticket.</p>
            </div>
            <div class="myBoxshadow">
                <h2>Modification in Existing Booking</h2>
                <p>Due to any certain reason if a traveller wants to make changes in existing booking will be subject to pay the additional processing charges being asked by the respective airlines company along with the service facilitating charges by CheapOFlightFares.com</p>
            </div>
            <div class="myBoxshadow">
                <h2>Refund On Booking</h2>
                <p>Considering the grounds of the airlines fare Rules and cancellation policy the refund will be processed. The refund shall be obligated to CheapOFlightFares.com receiving back from the airlines only in such case it will be refunded otherwise no refund shall be granted if airlines denied to pay back after cancellation. Wherein the convenience fee which is non-refundable in nature shall not be refunded.<br>

                    It is advisable to the users to intimate the process of refund prior to any cancellation made directly with the airlines unless otherwise CheapOFlightFares.com will not be responsible for any loss or occurrences. The time for refunds may vary depending on the mode of Payment made at the time of booking by the airlines. Subject to the deduction of service charges of CheapOFlightFares.com the refund shall be processed which is independent of the convenience fee.<br>
                    
                    The refund will be returned to the original account from where the payment was made. Taking an example if a user has made payment through payment wallet or credit card, CheapOFlightFares.com will make arrangement of the reversal charges to the same payment account.<br>
                    
                    The discounts and promo codes used at the time of booking would be deducted from the refund amount in the event of cancellation and refund of partially utilized tickets.</p>
            </div>
            
    
            
        </div>
</section>

<%- include("partials/footer")-%>